{% extends "base_admin.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block extra_head %}
{% endblock %}

{% block content %}
    <div class="modal-dialog modal-lg">
            <div class="modal-content">
                    <div class="modal-header">
                            <h3>Detalle</h3>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                          <div class="col-lg-4">
                            <label>PACIENTE:</label>
                            <p>{{object.paciente.nombres}} {{object.paciente.apellidos}}</p>
                            <label>NÚMERO DE DOCUMENTO:</label>
                            <p>{{object.paciente.numero_documento}}</p>
                            <label>FECHA:</label>
                            <p>{{fecha}}</p>
                            <label>ATENDIDO POR DR:</label>
                            <p>{{ object.profesional }}</p>
                            {% if object.diagnostico %}
                                <label>DIÁGNOSTICO:</label>
                                <p>{{object.diagnostico}}</p>
                            {% endif %}
                            {% if object.indicaciones %}
                                <label>INDICACIONES:</label>
                                <p>{{object.indicaciones}}</p>
                            {% endif %}
                            {% if object.recetas.count > 0 %}
                                <label>Recetas:</label>
                                {% for p in object.recetas.all %}
                                <p>{{ p.medicamento}}: {{ p.posologia }}</p>
                                <p>{{ p.observaciones }}</p>
                                {% endfor %}
                            {% endif %}
                            {% if object.prestaciones.count > 0 %}
                                <label>Prestaciones:</label>
                                {% for p in object.prestaciones.all %}
                                <p>{{ p.tipo.codigo }} {{ p.tipo.nombre }}: {{ p.cantidad }}</p>
                                <p>{{ p.observaciones }}</p>
                                {% endfor %}
                            {% endif %}
                            <!-- derivaciones puede ser null -->
                            {% if object.derivaciones.count > 0 %}
                                <label>Derivaciones:</label>
                                {% for p in object.derivaciones.all %}
                                    <p>{{ p.especialidad.nombre }}</p>
                                {% endfor %}
                            {% endif %}
                            <label>CÓDIGOS:</label>
                            <p>{{ object.codigo_cie_principal.code }}: {{ object.codigo_cie_principal.description }}</p>
                            {% for codigo in object.codigos_cie_secundarios.all %}
                            <p>{{ codigo.code }}: {{ codigo.description }}</p>
                            {% endfor %}
                          </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                            <div class="col-lg-12 text-right">
                                <a class="btn btn-primary" href="{% url 'pacientes.consulta.lista' dni=object.paciente.numero_documento %}" role="button">VOLVER AL LISTADO</a>
                            </div>
                    </div>
            </div>
    </div>
    <div class="line"></div>

{% endblock %}
