{% extends "base_admin.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block extra_head %}
{% endblock %}

{% block content %}
    <form method="post" novalidate>
      {% csrf_token %}
    
      <div class="row">
          <div class="col-12 col-md-12">
            <p>
              Paciente: <b>{{ instance.paciente }}</b>. 
              Profesional: <b>{{ instance.profesional }}</b>. 
              Especialidad: <b>{{ instance.especialidad }}</b>. 
              Centro: <b>{{ instance.centro_de_salud }}</b>. 
            </p>
          </div>
      </div>
      
    <div class="row">
      <div class="col-6 col-md-6">
        <p>{{ form.fields.motivo_de_la_consulta.label }}</p>
        {{ form.motivo_de_la_consulta }}
        <p>{{ form.fields.evolucion.label }}</p>
        {{ form.evolucion }}
        <p>{{ form.fields.indicaciones.label }}</p>
        {{ form.indicaciones }}
        <p>{{ form.fields.codigo_cie_principal.label }}</p>
        {{ form.codigo_cie_principal }}
        <p>{{ form.fields.codigos_cie_secundarios.label }}</p>
        {{ form.codigos_cie_secundarios }}
      </div>
      <div class="col-6 col-md-6">
        <div>
          <h3>Consultas previas</h3>

          <div class="accordion" id="accordion">
              {% for cp in consultas_previas.all %}
              <div class="card">
                
                <div class="card-header" id="heading-{{ cp.id }}">
                  <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse-{{ cp.id }}" aria-expanded="true" aria-controls="collapse-{{ cp.id }}">
                        {{ cp.created|date:"Y/m/d H:i" }} {{ cp.codigo_cie_principal|default_if_none:"" }} 
                    </button>
                  </h2>
                </div>
            
                <div id="collapse-{{ cp.id }}" class="collapse" aria-labelledby="heading-{{ cp.id }}" data-parent="#accordion">
                  <div class="card-body">
                      <p>Evolucion: {{ cp.evolucion }}</p>
                      <p>Profesional: {{ cp.profesional }}</p>
                      <p>Especialidad: {{ cp.especialidad }}</p>
                      <p>Centro de salud: {{ cp.centro_de_salud }}</p>
                  </div>
                </div>
              </div>
              {% empty %}
              <p>No se registran consultas previas</p>
              {% endfor %}
            </div>



          
        </div>
        <div class="accordion" id="accordion">
          {% for formset in formsets %}
          {% with formset.prefix|slugify as p %}
              
          <div class="card">
            
            <div class="card-header" id="heading-{{ p }}">
              <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse-{{ p }}" aria-expanded="true" aria-controls="collapse-{{ p }}">
                  {{ formset.prefix }}
                </button>
              </h2>
            </div>
        
            <div id="collapse-{{ p }}" class="collapse" aria-labelledby="heading-{{ p }}" data-parent="#accordion">
              <div class="card-body">
                    {% for form in formset %}
                        <div class="{{ p }}-form">
                            {{ form|crispy }}
                        </div>
                    {% endfor %}
                    {{ formset.management_form }}              
              </div>
            </div>
          </div>
          {% endwith %}
          {% endfor %}
        </div>
      </div>
    </div>

        <button type="submit" class="btn btn-success">Guardar Consulta</button>
    </form>
    <div class="line"></div>

{% endblock %}
{% block js_footer %}

    {{ block.super }}

    <script type="text/javascript" src="{% static 'js/jquery.formset.js' %}" type="text/javascript"> </script>

    {{ form.media }}


<script type="text/javascript">
$( document ).ready(function() {
{% for formset in formsets %}
{% with formset.prefix|slugify as p %}
  $('.{{ p }}-form').formset({
          prefix: '{{ formset.prefix|slugify }}',
          addText: 'Agregar otro',         
          deleteText: 'Eliminar',        
          deleteCssClass: 'btn btn-sm btn-danger',
          addCssClass: 'btn btn-sm btn-success'
      });
{% endwith %}
{% endfor %}
})
</script>


{% endblock js_footer %}