{% extends "base_admin.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load l10n %}

{% block extra_head %}
{% endblock %}

{% block content %}
    <form method="post" novalidate>
      {% csrf_token %}
    
      <div class="row">
          <div class="col-12 col-md-12">
            <p>
              Paciente: <b>{{ instance.paciente }}</b>. 
              Profesional: <b>{{ instance.profesional }}</b>. 
              Especialidad: <b>{{ instance.especialidad }}</b>. 
              Centro: <b>{{ instance.centro_de_salud }}</b>. 
            </p>
          </div>
      </div>
      
    <div class="row">
      <div class="col-6 col-md-6">
        <p>{{ form.fields.motivo_de_la_consulta.label }}</p>
        {{ form.motivo_de_la_consulta }}
        <p>{{ form.fields.evolucion.label }}</p>
        {{ form.evolucion }}
        <p>{{ form.fields.indicaciones.label }}</p>
        {{ form.indicaciones }}
        <p>{{ form.fields.codigo_cie_principal.label }} {{ form.codigo_cie_principal }}</p>
        <p>{{ form.fields.codigos_cie_secundarios.label }} 
            {{ form.codigos_cie_secundarios }}
          <small>Separados por comas</small></p>

        <h4>Medidas anexas</h4>
          <div class="{{ p }}-form">
            {{ medidas_frm|crispy }}
          </div>
      </div>
      <div class="col-6 col-md-6">
        <div>
          <h4>Consultas previas</h4>
          <div class="accordion" id="accordion_evo" style='overflow-y: scroll; height: 400px;'>
              {% for cp, medidas, recetas, derivaciones, prestaciones in consultas_previas %}
              <div class="card">
                <div class="card-header" id="heading-{{ cp.id }}">
                  <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse-{{ cp.id }}" aria-expanded="true" aria-controls="collapse-{{ cp.id }}">
                        {{ cp.created|date:"d/m/Y" }} {{ cp.especialidad }} {{ cp.codigo_cie_principal|default_if_none:"" }}
                    </button>
                  </h2>
                </div>
                <div id="collapse-{{ cp.id }}" class="collapse" aria-labelledby="heading-{{ cp.id }}" data-parent="#accordion_evo">
                  <div class="card-body">
                      <h6><b>Profesional:</b> {{ cp.profesional }} - <b>Especialidad:</b> {{ cp.especialidad }}</h6>
                      <h6><b>Centro de salud:</b> {{ cp.centro_de_salud }}</h6>
                      <h6><b>Evolucion:</b> {{ cp.evolucion }}</h6>
                  </div>
                  <div class="cont-consulta-previa">
                      <div class="card-header-child ">
                        <div class="panel-heading">
                            <h5 class="panel-title card-panel-child">
                                {% if medidas %}
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-medidas-{{ cp.id }}" href="#collapse-medidas-{{ cp.id }}">Medidas Anexas</a>
                                {% else %}
                                    <a data-toggle="collapse" data-parent="#accordion-medidas-{{ cp.id }}" href="#collapse-medidas-{{ cp.id }}"> No se registraron Medidas Anexas</a>
                                {% endif %}
                            </h5>
                        </div>
                      </div>
                      <div id="collapse-medidas-{{ cp.id }}" class="panel-collapse collapse">
                        <div class="panel-body container card-body-child">
                              {% for m in medidas %}
                                <h6>{{m.medida.nombre }}: {{m.valor }}</h6>
                              {% endfor %}
                        </div>
                      </div>
                      <div class="card-header-child ">
                        <div class="panel-heading">
                            <h5 class="panel-title card-panel-child">
                               {% if recetas %}
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-recetas-{{ cp.id }}" href="#collapse-recetas-{{ cp.id }}">Recetas</a>
                               {% else %}
                                    <a data-toggle="collapse" data-parent="#accordion-recetas-{{ cp.id }}" href="#collapse-recetas-{{ cp.id }}">No se registran recetas</a>
                               {% endif %}
                            </h5>
                        </div>
                      </div>
                      <div id="collapse-recetas-{{ cp.id }}" class="panel-collapse collapse">
                        <div class="panel-body container card-body-child">
                              {% for r in recetas %}
                                <h6>{{r.medicamento}} - {{r.posologia}} </h6>
                                <h6>{{r.observaciones}}</h6>
                                <hr class="solid">
                              {% endfor %}
                        </div>
                      </div>
                      <div class="card-header-child ">
                        <div class="panel-heading">
                            <h5 class="panel-title card-panel-child">
                               {% if derivaciones %}
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-recetas-{{ cp.id }}" href="#collapse-derivacion-{{ cp.id }}">Derivaciones</a>
                               {% else %}
                                    <a data-toggle="collapse" data-parent="#accordion-derivacion-{{ cp.id }}" href="#collapse-derivacion-{{ cp.id }}">No se registran Derivaciones</a>
                               {% endif %}
                            </h5>
                        </div>
                      </div>
                      <div id="collapse-derivacion-{{ cp.id }}" class="panel-collapse collapse">
                        <div class="panel-body container card-body-child">
                          {% for d in derivaciones %}
                            <h6>{{d.especialidad}}</h6>
                            <h6>{{d.observaciones}}</h6>
                            <hr class="solid">
                          {% endfor %}
                        </div>
                      </div>
                      <div class="card-header-child ">
                        <div class="panel-heading">
                            <h5 class="panel-title card-panel-child">
                               {% if prestaciones %}
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-prestacion-{{ cp.id }}" href="#collapse-prestacion-{{ cp.id }}">Prestaciones</a>
                               {% else %}
                                    <a data-toggle="collapse" data-parent="#accordion-prestacion-{{ cp.id }}" href="#collapse-prestacion-{{ cp.id }}">No se registran Prestaciones</a>
                               {% endif %}
                            </h5>
                        </div>
                      </div>
                      <div id="collapse-prestacion-{{ cp.id }}" class="panel-collapse collapse">
                        <div class="panel-body container card-body-child">
                          {% for p in prestaciones %}
                            <h6><b>Tipo:</b>{{p.tipo}}</h6>
                            <h6><b>Cantidad:</b>{{ p.cantidad }}</h6>
                            <h6>{{p.observaciones}}</h6>
                            <hr class="solid">
                          {% endfor %}
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            {% endfor %}
            </div>

        </div>
        <h4>Extras</h4>
        <div class="accordion" id="accordion">
          {% for formset in formsets %}
          {% with formset.prefix|slugify as p %}
              
          <div class="card">
            
            <div class="card-header" id="heading-{{ p }}">
              <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse-{{ p }}" aria-expanded="true" aria-controls="collapse-{{ p }}">
                  {{ formset.prefix }}
                </button>
              </h2>
            </div>
        
            <div id="collapse-{{ p }}" class="collapse" aria-labelledby="heading-{{ p }}" data-parent="#accordion">
              <div class="card-body">
                    {% for form in formset %}
                        <div class="{{ p }}-form">
                            {{ form|crispy }}
                        </div>
                    {% endfor %}
                    {{ formset.management_form }}              
              </div>
            </div>
          </div>
          {% endwith %}
          {% endfor %}
        </div>
      </div>
    </div>

        <button type="submit" class="btn btn-success">Guardar Consulta</button>
    </form>
    <div class="line"></div>

{% endblock %}
{% block js_footer %}

    {{ block.super }}

    <script type="text/javascript" src="{% static 'js/jquery.formset.js' %}" type="text/javascript"> </script>

    {{ form.media }}


<script type="text/javascript">
$( document ).ready(function() {
{% for formset in formsets %}
{% with formset.prefix|slugify as p %}
  $('.{{ p }}-form').formset({
          prefix: '{{ formset.prefix }}',
          addText: 'Agregar otro',         
          deleteText: 'Eliminar',        
          deleteCssClass: 'btn btn-sm btn-danger',
          addCssClass: 'btn btn-sm btn-success'
      });
{% endwith %}
{% endfor %}
})
</script>


{% endblock js_footer %}
