{% extends "base_tableros.html" %}

{% block extra_head %}
    <link href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.css' rel='stylesheet' />
    <link href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/bootstrap/main.css' rel='stylesheet' />
    <link href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.css' rel='stylesheet' />

	 

{% endblock %}

{% block js_footer %}
	
	{{ block.super }}

	<script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/bootstrap/main.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/locales/es.js'></script>

	<script type="text/javascript">
	document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
          plugins: [ 'dayGrid' ],
          eventSources: [{
              url: '{% url 'calendario.feed' %}',
          }],
          locale: 'es',
          weekMode: 'liquid',
    	    slotMinutes: 15,
          defaultEventMinutes: 30,
          minTime: 8,
          maxTime: 20,
          editable: true,
          themeSystem: 'bootstrap'
        });

        calendar.render();
    });
    
	</script>
{% endblock js_footer %}

{% block content %}
    <div id='calendar'></div>
{% endblock %}