{% extends "base_admin.html" %}
{% load static %}

{% block extra_head %}
  <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.css" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/bootstrap/main.css" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.css" rel="stylesheet" />

  <link href="https://unpkg.com/@fullcalendar/timegrid@4.3.0/main.min.css" rel="stylesheet" />

  <link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>

  <!-- DateTime Picker's assets -->
  {{ form.media }}

  <link href="{% static 'css/modal_extra.css' %}" rel="stylesheet">
  <style>
    .turnoDisponible{
      background-color: white;
    }
    .turnoAsignado{
      background-color: rgb(71, 115, 212);
    }
    .turnoEsperandoEnSala{
      background-color: rgb(21, 102, 21);
    }
    .turnoAtendido{
      background-color: rgb(212, 212, 54);
    }
    .turnoCanceladoPaciente{
      background-color: rgb(150, 40, 40); 
    }
    .turnoCanceladoEstablecimiento{
      background-color: rgb(247, 68, 68);
    }
    .noCoincideDni{
      opacity: 0.5;
    }
  </style>
{% endblock %}

{% block js_footer %}
	{{ block.super }}

  <!-- Import axios and configure it to send csrf tokens -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    'use strict';
    axios.defaults.xsrfCookieName = 'csrftoken'
    axios.defaults.xsrfHeaderName = "X-CSRFTOKEN"
  </script>

	<script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/bootstrap/main.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/locales/es.js'></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.4/js/bootstrap-switch.min.js"></script>

  <script src='https://unpkg.com/@fullcalendar/timegrid@4.3.0/main.min.js'></script>

  <script type="text/javascript">
    'use strict';
    let calendar;

    function calendarEventRender(info){
      let state = info.event.extendedProps.status;
      let id = "event-"+info.event.id;
      info.el.id = id;
      switch (state) { 
        case 1: 
          info.el.className = info.el.className + " turnoAsignado";
          break;
        case 2:
          info.el.className = info.el.className + " turnoEsperandoEnSala";
          break;
        case 3: 
          info.el.className = info.el.className + " turnoAtendido";
          break;		
        case 4:
          info.el.className = info.el.className + " turnoCanceladoPaciente";
          break;
        case 5: 
          info.el.className = info.el.className + " turnoCanceladoEstablecimiento";
          break;
        default:
          info.el.className = info.el.className + " turnoDisponible";
          break;
        }
    }


    // Render inicial del calendario
    document.addEventListener('DOMContentLoaded', function() {
      const calendarEl = document.getElementById('calendar');

      calendar = new FullCalendar.Calendar(calendarEl, {
        plugins: [ 'dayGrid', 'timeGrid' ],
        eventSources: [],
        eventRender: calendarEventRender,
        eventClick: function(info) {
          let fkn_month = info.event.start.getMonth() + 1;
          $('#modal-body-text').text(
            "¿Desea agendar un turno para el " + 
            info.event.start.getDate() + "/" + fkn_month +
            " a las " + info.event.start.getHours() + ":" 
            + info.event.start.getMinutes() + " horas?"
          );
          $("#turn_pk").val(info.event.id);
          $('#agendarModal').modal('show');
        },
        defaultView: 'dayGridWeek',
        header: {
          left: 'prev,next today',
          center: 'title',
          right: 'dayGridMonth,dayGridWeek,dayGridDay'
        },
        locale: 'es',
        weekMode: 'liquid',
        slotMinutes: 15,
        defaultEventMinutes: 30,
        minTime: 8,
        maxTime: 20,
        editable: true,
        themeSystem: 'bootstrap',
      });

      calendar.render();
    })

    /**
     * Esta función recibe el id del servicio como argumento,
     * borra los que se muestran en el calendario, 
     * busca los eventos del nuevo servicio solicitado y los agrega al calendario.
     */
    function replaceEvents(servicio_id) {
      // Workaround para el render inicial
      if (servicio_id === null) {
        calendar.removeAllEventSources();
        return false
      };

      // Elimina todas las fuentes de eventos del calendario
      calendar.removeAllEventSources();

      // Creamos la nueva fuente con la url del servicio que necesitamos solicitar
      let newEventSource = {
          id: 'source',
          url: '{% url "calendario.feed-availables" servicio=0 %}'.replace(0, servicio_id),
        }
      
      // Agregamos nueva fuente de eventos
      calendar.addEventSource(newEventSource);
    }

    // Esta función es un wrapper para que no se muestren 
    // otras especialidades cuando se cambie el centro de salud 
    function initSelectEspecialidad() {
      $('#select2Especialidad').select2({
          placeholder: "Seleccione una especialidad",
          ajax: {
            url: function(centro_elegido) {
              return "{% url 'centros_de_salud.servicios-by-centro-salud' pk=0 %}".replace(0, $("#usuario_elegir_centro").val());
            },
            dataType: 'json'
          },
        });
    }

    // Inicializar Select2 de Especialidades
    initSelectEspecialidad();

    // Cuando cambie el centro de salud activo blanquear especialidad seleccionada
    // y llamar re inicializar el select de especialidades con el nuevo centro de salud
    $("#usuario_elegir_centro").change(function() {
      $('#select2Especialidad').val('').change();

      initSelectEspecialidad();
      replaceEvents(null);
    })

    // Cuando cambie el valor del select de Especialidad
    $("#select2Especialidad").change(function () {
      /* 
        El select contiene 2 propiedades:
        - id del servicio
        - Texto de la especialidad
      */
      let servicio_id = $('#select2Especialidad').val();

      replaceEvents(servicio_id);
    });

  </script>



  <script>
    'use strict';
    function confirmTurn() {
      let formData = {
        'paciente':$("#dni").val(),
      }
      let pk = $("#turn_pk").val()
      axios({
        method: 'put',
        url: "{% url 'calendario.confirm' pk=0 %}".replace(0,pk),
        headers: {'Content-Type': 'application/json'},
        data: formData
      })
        .then(response => {
          if (!response.data.success) {
            $("#dni-error").css('display','block');
          } else {
            $("#dni-error").css('display','none');
            $("#dni").val("");
            calendar.refetchEvents();
            $('#agendarModal').modal('hide');
            crearTicket(response.data.turno);
            $('#imprimirTurno').modal('show');
          }
        })
        .catch(error => {
          console.error(error)
        });
    }

    function imprimirTurno(){
      {
        var elem = 'imprimirBody';
        var mywindow = window.open('', 'PRINT', 'height=400,width=600');

        mywindow.document.write('<html><head><title>TURNO</title>');
        mywindow.document.write('</head><body >');
        mywindow.document.write(document.getElementById(elem).innerHTML);
        mywindow.document.write('</body></html>');

        mywindow.document.close(); // necessary for IE >= 10
        mywindow.focus(); // necessary for IE >= 10*/

        mywindow.print();
        mywindow.close();

        return true;
      }
    }

    function crearTicket(data){
      $("#impServicio").text(data.servicio.especialidad);
      if (data.profesional != undefined){
        $("#pImpProfesional").css('display','block');
        $("#impProfesional").text(data.profesional);
      }
      $("#impFecha").text(data.inicio);
      $("#impPaciente").text(data.paciente);
      $("#impCentroNombre").text(data.servicio.centro.nombre);
      if (!data.servicio.centro.direccion | data.servicio.centro.direccion == 'None')
        {data.servicio.centro.direccion = '';}
      $("#impCentroDireccion").text(data.servicio.centro.direccion);
      $("#impCentroObservaciones").html(data.servicio.centro.descripcion);
    }

  </script>
{% endblock js_footer %}

{% block content %}
    <div class="row">
      <div class="col-md-5">
          <p>Especialidad</p>
          <select id="select2Especialidad" style="width:100%">
          </select>
      </div>
    </div>
    <br>
    <div class="row">
      <div id='calendar'></div>
    </div>


    

{% endblock %}


{% block unwrapped_content %}
<div class="modal fade" id="agendarModal" tabindex="1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Agendar turno</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id="modal-body-text"></p>
        <div class="form-group">
          <label for="dni" class="col-form-label">DNI Paciente:</label>
          <input class="form-control" id="dni"></input>
          <span class="help-block" id="dni-error" style="display: none;">
            Tu historia clínica no ha sido inicializada, luego de que recibas la próxima atención esto estará resuelto
          </span>
        </div>
        <input id="turn_pk" hidden/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" onclick="confirmTurn()">Agendar</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="imprimirTurno" tabindex="1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Turno</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="imprimirBody">
        <div class="row">
          <div class="col-md-12">
              <h1 id="impServicio"></h1>
          </div>
        </div>
        <p style="float: right; max-width: 75px; max-height: 75px;">
          <img src="{{sys_logo}}" alt="logo" 
              style="float: right; max-width: 75px; max-height: 75px;">
        </p>
        <p id="pImpProfesional" style="display: none;">
          Profesional: <strong id="impProfesional"></strong></p>
        <p>Fecha: <strong id="impFecha"></strong></p>
        <p>Paciente: <strong id="impPaciente"></strong></p>
        <br>
        <p>Centro de salud: <strong id="impCentroNombre"></strong></p>
        <p><strong id="impCentroDireccion"></strong></p>
        <p><strong id="impCentroObservaciones"></strong></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" onclick="imprimirTurno()">Imprimir</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}