<script>
var states = ['DISPONIBLE','ASIGNADO','ESPERANDO_EN_SALA','ATENDIDO','CANCELADO_PACIENTE','CANCELADO_ESTABLECIMIENTO']

function cargarData(data){
  if (data.extendedProps.patient == 0){
    $(".paciente-p").css("display","none");
  }
  else{
    $(".paciente-p").css("display","block");
    $("#paciente-apellido").html(data.extendedProps.patient.apellidos);
    $("#paciente-nombre").html(data.extendedProps.patient.nombres);
    $("#paciente-doc").html(data.extendedProps.patient.numero_documento);
  }
  const ASIGNADO = "{{turno_states.ASIGNADO}}";
  $("#title").html(data.title);
  $("#start").html(formatDatetime(data.start));
  $("#state").html(states[data.extendedProps.status].replace(/\_/g, ' '));
  if (data.extendedProps.status == ASIGNADO){
    /*Solo se podra confirmar el turno cuando este ASIGNADO
      y el paciente llegue */
    $("#btnConfirmar").prop('disabled','');
  }
  else{
    $("#btnConfirmar").prop('disabled','disabled');
  }
  $("#idTurno").val(data.id);
}

function editarEstadoTurno(estado){
  let formData = {
    'id': $("#idTurno").val(),
    'state': estado,
  }
  axios({
    method: 'put',
    url: "{% url 'calendario.edit_turn' pk=0 %}".replace(0,$("#idTurno").val()),
    headers: {'Content-Type': 'application/json'},
    data: formData
  })
    .then(response => {
      if (!response.data.success) {
        console.error(response.data.errors);
        alert('Error al cambiar el estado del turno: ' + response.data.errors.state)
      } else {
        calendar.refetchEvents();
        $('#manageTurnoModal').modal('hide');
      }
    })
    .catch(error => {
      showFormErrors({Error: [error.toString().slice(7)]});
    });
}

function confirmarTurno(){
  const ESPERANDO_EN_SALA = "{{turno_states.ESPERANDO_EN_SALA}}";
  editarEstadoTurno(ESPERANDO_EN_SALA);
}

function cancelarTurno(){
  const CANCELADO_ESTABLECIMIENTO = "{{turno_states.CANCELADO_ESTABLECIMIENTO}}";
  editarEstadoTurno(CANCELADO_ESTABLECIMIENTO);
}
</script>

<div class="modal fade" id="manageTurnoModal" tabindex="1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modificar turno</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h1 id="title"></h1>
        <p>Fecha: <strong id="start"></strong></p>
        <p>Estado: <strong id="state"></strong></p>
        <p class="paciente-p">Paciente: 
          <strong id="paciente-apellido"></strong>, 
          <strong id="paciente-nombre"></strong></p>
        <p class="paciente-p">Documento: <strong id="paciente-doc"></strong></p>
      </div>
      <input hidden id="idTurno">
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" onclick="cancelarTurno()">Cancelar Turno</button>
        <button type="button" class="btn btn-primary" id='btnConfirmar'
          onclick="confirmarTurno()">Confirmar</button>
      </div>
    </div>
  </div>
</div>