{% extends "base_admin.html" %}
{% load static %}

{% block extra_head %}
  <link href="{% static 'css/modal_extra.css' %}" rel="stylesheet">
{% endblock %}

{% block js_footer %}
	{{ block.super }}

  <!-- Import axios and configure it to send csrf tokens -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    'use strict';
    axios.defaults.xsrfCookieName = 'csrftoken'
    axios.defaults.xsrfHeaderName = "X-CSRFTOKEN"
  </script>



  <script type="text/javascript">
    function cancelarTurnoPaciente(id){
        axios({
            method: 'put',
            url: "{% url 'calendario.cancelar_turn' pk=0 %}".replace(0,id),
            headers: {'Content-Type': 'application/json'},
        })
        .then(response => {
        if (!response.data.success) {
            console.error(response.data.errors);
        } else {
            $("#estado-"+id).html(response.data.turno.estado);
            $("button#"+id).prop("disabled",true);
        }
        })
        .catch(error => {
            console.error(error);
        });
    }   

    $(".btnCancelarTurno").click(function() {
        cancelarTurnoPaciente($( this ).attr('id'));
    });
    </script>
{% endblock js_footer %}

{% block content %}
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Fecha</th>
                <th scope="col">Paciente</th>
                <th scope="col">Estado</th>
                <th scope="col">Servicio</th>
                <th scope="col">Profesional</th>
                <th scope="col">Centro de salud</th>
                <th scope="col">Acciones</th>
            </tr>
            </thead>
            <tbody>
            {% if turnos|length == 0 %}
                <td>Sin datos</td><td></td><td></td><td></th><td></th><td></th><td></th>
            {% else %}
            {% for turno in turnos %}
                <tr id="row-{{turno.pk}}"">
                    <td>{{turno.inicio}}</th>
                    <td>{{turno.paciente|title}}</td>
                    <td id="estado-{{turno.pk}}">{{turno.get_estado_display}}</td>
                    <td>{{turno.servicio}}</th>
                    <td>{{turno.profesional|title}}</th>
                    <td>{{turno.servicio.centro|title}}</th>
                    <td>
                        <button id="{{turno.pk}}" class="btn btn-danger btn-sm btnCancelarTurno" 
                        {% if turno.estado == CANCELADO_PACIENTE or turno.estado == CANCELADO_ESTABLECIMIENTO %}
                        disabled
                        {% endif %}
                        >Cancelar</button>
                    </th>
                </tr>
            
            {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>


    

{% endblock %}


{% block unwrapped_content %}

{% endblock %}