{% extends "base_consultas.html" %}

{% block extra_head %}
{% endblock %}

{% block sidebar %}
    {% include "sidebar_paciente.html" %}
{% endblock %}

{% block content %}
    <h2>Listado de consultas</h2>
    {% for consulta in consultas %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

    <!--             <button type="button" id="sidebarCollapse" class="navbar-btn">
                    <span></span>
                    <span></span>
                    <span></span>
                </button> -->
    <!--             <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-align-justify"></i>
                </button> -->
                <button>
                    <li class="nav-link">
                        <a href="{% url 'profesionales.consulta.detalle' dni=consulta.paciente.numero_documento pk=consulta.id %}">
                            Ver detalle
                        </a>
                    </li>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto">
    <!--                     <li class="nav-item">
                            <a class="nav-link" href="#">Historia clínica</a>
                        </li>-->
                        <li class="nav-item">{{ consulta }}</li>
                    </ul>
                </div>
            </div>
        </nav>
    {% endfor %}
    <div class="line"></div>
{% endblock %}