{% extends "base_admin.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block extra_head %}
{% endblock %}

{% block content %}
    <h2>Nueva Consulta</h2>
    <form method="post" novalidate>
    {% csrf_token %}
    {{ form|crispy}}

    <hr>
    <h3>Recetas</h3>
    {{ recetas_frm|crispy }}
    
    <hr>
    <h3>Derivaciones</h3>
    {{ derivaciones_frm|crispy }}
    
    <hr>
    <h3>Prestaciones</h3>
    {{ prestaciones_frm|crispy }}

        <button type="submit" class="btn btn-success">Guardar Consulta</button>
    </form>
    <div class="line"></div>

{% endblock %}
{% block js_footer %}
    <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    {{ form.media }}
{% endblock js_footer %}