{% extends "base_admin.html" %}

{% block content %}

<table class="table">
    <thead>
    <tr>
        <th scope="col">Profesional</th>
        <th scope="col">Matrícula</th>
        <th scope="col">Profesión</th>
        <th scope="col">Acciones</th>
    </tr>
    </thead>
    <tbody>
    {% for profesional in object_list %}
<tr>
    <th scope="row">{{ profesional.nombres }} {{ profesional.apellidos }}</th>
    <td>{{ profesional.matricula_profesional }}</td>
    <td>{{ profesional.profesion }}</td>
    <th scope="row">
        <a role="button" class="btn btn-warning btn-sm active" href="{% url 'profesionales.detail' pk=profesional.id %}">Detalles</a>
        {% if perms.profesionales.change_profesional %}
        <a role="button" class="btn btn-warning btn-sm active" href="{% url 'profesionales.edit' pk=profesional.id %}">Editar</a>
        {% endif %}
    </th>
</tr>
        {% empty %}
        <td>Sin datos</td><td></td><td></td>
        {% endfor %}
    </tbody>
</table>

{% include 'admin_paginate.html' with search_text=search_txt %}

{% endblock %}
