{% extends "base_admin.html" %}

{% block content %}
<h2>Lista de profesionales</h2>

{% include 'admin_search_bar.html' %}
{% include 'admin_paginate.html' %}

<table class="table">
    <thead>
    <tr>
        <th scope="col">Profesional</th>
        <th scope="col">Matrícula</th>
        <th scope="col">Profesión</th>
    </tr>
    </thead>
    <tbody>
    {% for profesional in object_list %}
<tr>
    <th scope="row">{{ profesional.nombres }} {{ profesional.apellidos }}</th>
    <td>{{ profesional.matricula_profesional }}</td>
    <td>{{ profesional.profesion }}</td>
</tr>
        {% empty %}
        <td>Sin datos</td><td></td><td></td>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

