{% extends "base_admin.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<a role="button" class="btn btn-warning btn-sm active" href="{% url 'centros_de_salud.lista' %}">Volver a la lista</a>
{% if perms.profesionales.change_profesional %}
<a role="button" class="btn btn-warning btn-sm active" href="{% url 'centros_de_salud.edit' pk=object.id %}">Editar</a>
{% endif %}
<h2>{{ object.nombre }}</h2>
<p>Institucion: <b> {{ object.institucion }}</b></p>
<p>Codigo HPGD: <b> {{ object.codigo_hpgd }}</b></p>
<p>Descripcion: <b> {{ object.descripcion }}</b></p>
<p>Horario de atencion: <b> {{ object.horario_de_atencion }}</b></p>
<p>Telefonos: <b> {{ object.telefonos }}</b></p>
<p>Direccion:<b> {{ object.direccion }}</b></p>

{% endblock %}
