{% extends "base_admin.html" %}

{% block content %}

<table class="table">
    <thead>
    <tr>
        <th scope="col">Centro de salud</th>
        <th scope="col">Especialidad</th>
        <th scope="col">Acciones</th>
    </tr>
    </thead>
    <tbody>
    {% for cs in object_list %}
<tr>
    <th scope="row">{{ cs.centro.nombre }}</th>
    <th scope="row">{{ cs.especialidad }}</th>
    <th scope="row">
        <a role="button" class="btn btn-warning btn-sm active" href="{% url 'centros_de_salud.servicios.detail' pk=cs.id %}">Detalles</a>
        {% if perms.centros_de_salud.change_servicio %}
        <a role="button" class="btn btn-warning btn-sm active" href="{% url 'centros_de_salud.servicios.edit' pk=cs.id %}">Editar</a>
        {% endif %}
    </th>
</tr>
        {% empty %}
        <td>Sin datos</td><td></td><td></td>
        {% endfor %}
    </tbody>
</table>

{% include 'admin_paginate.html' with search_text=search_txt %}

{% endblock %}