<form id="appointmentForm">
  {% csrf_token %}
  <div class="row">
    <div class="col-12 col-md-5">
      <p>{{ form.fields.inicio.label }}</p>
      {{ form.inicio }}
    </div>
    <div class="col-12 col-md-5">
      <p>{{ form.fields.fin.label }}</p>
      {{ form.fin }}
    </div>
    <div class="col-12 col-md-2">
      <p>{{ form.fields.bulk.label }}</p>
      {{ form.bulk }}
    </div>

    <div class="col-12 col-md-5">
      <p>{{ form.fields.servicio.label }}</p>
      {{ form.servicio }}
    </div>
    <div class="col-12 col-md-5">
      <p>{{ form.fields.profesional.label }}</p>
      {{ form.profesional }}
    </div>
    <div class="col-12 col-md-2">
      <p>{{ form.fields.duration.label }}</p>
      {{ form.duration }}
    </div>

    <div class="col-12 col-md-6">
      <p>{{ form.fields.estado.label }}</p>
      {{ form.estado }}
    </div>
    <div class="col-12 col-md-6">
      <p>{{ form.fields.paciente.label }}</p>
      {{ form.paciente }}
    </div>
    <input type="hidden" name="id" value="" id="appointmentId">
    <input type="hidden" name="delete" value="" id="deleteAppointment">
  </div>
</form>
