{% extends "base_consultas.html" %}

{% block extra_head %}
{% endblock %}

{% block content %}
    <h2>Ingrese número de documento del paciente</h2>
    <div class="demo">
      <form class="form-search">
        <div class="input-group">
          <input class="form-control form-text" maxlength="128" placeholder="Buscar" size="15" type="text" />
          <span class="input-group-btn"><button class="btn btn-primary"><i class="fa fa-search fa-lg">&nbsp;</i></button></span>
        </div>
      </form>
    </div>
    <div class="line"></div>
{% endblock %}