<ul class="list-unstyled components">
    <!--titulo agrupador sin link <p>Profesionales</p>-->
    <li class="active">
        <a href="{% url 'profesionales.index' %}" aria-expanded="false" class="dropdown-toggle">Nueva Consulta</a>
<!--         <ul class="collapse list-unstyled" id="homeSubmenu">
            <li>
                <a href="{% url 'profesionales.tablero.por_profesion' %}">Por profesion</a>
            </li>
            <li>
                <a href="{% url 'profesionales.tablero.por_departamento' %}">Por departamento</a>
            </li>
        </ul> -->
    </li>

</ul>