{% extends "base_popup.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <h2>Nuevo Obra Social de Paciente</h2>
    <form method = 'POST' action= '' novalidate id = "author-form">
    {% csrf_token %}
         <div class="form-row">
            <div class="col-md-6  col-lg-6">
                {{ form.obra_social|as_crispy_field }}
            </div>
            <div class="col-md-6  col-lg-6">
                {{ form.numero_afiliado|as_crispy_field }}
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6  col-lg-6">
                {{ form.tipo_beneficiario|as_crispy_field }}
            </div>
            <div class="col-md-6  col-lg-6">
                {{ form.parentesco|as_crispy_field }}
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6  col-lg-6">
                {{ form.fecha_de_emision|as_crispy_field }}
            </div>
            <div class="col-md-6  col-lg-6">
                {{ form.fecha_de_vencimiento|as_crispy_field }}
            </div>
        </div>
         <div class="col-md-6  col-lg-6">
                {{ form.paciente|as_crispy_field }}
         </div>
        <button type="submit" class="btn btn-success">Guardar Obra Social de Paciente</button>
    </form>
    <div class="line"></div>

{% endblock %}
{% block js_footer %}
    {{ block.super }}
    {{ form.media }}
{% endblock js_footer %}
