{% extends "base_admin.html" %}

{% block content %}

<table class="table">
    <thead>
    <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Codigo</th>
        <th scope="col">Siglas</th>
        <th scope="col">Provincia</th>
        <th scope="col">Acciones</th>
    </tr>
    </thead>
    <tbody>
    {% for oss in object_list %}
<tr>
    <th scope="row">{{ oss.nombre }}</th>
    <td>{{ oss.codigo }}</td>
    <td>{{ oss.siglas }}</td>
    <td>{{ oss.provincia }}</td>
    <th scope="row">
        <a role="button" class="btn btn-warning btn-sm active" href="">Detalles</a>
        {% if perms.obras_sociales.change_obrasocial %}
        <a role="button" class="btn btn-warning btn-sm active" href="{% url 'obras-sociales.edit' pk=oss.id %}">Editar</a>
        {% endif %}
    </th>
</tr>
        {% empty %}
        <td>Sin datos</td><td></td><td></td>
        {% endfor %}
    </tbody>
</table>

{% include 'admin_paginate.html' %}

{% endblock %}