{% extends "base_admin.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<a role="button" class="btn btn-warning btn-sm active" href="{% url 'especialidades.medidas_anexas' %}">Volver a la lista</a>
{% if perms.especialidades.change_servicio %}
<a role="button" class="btn btn-warning btn-sm active" href="{% url 'especialidades.medidas_anexas.edit' pk=object.id %}">Editar</a>
{% endif %}
<p>Nombre: <b>{{ object.nombre }}</b></p>
<p>Observaciones para el que medirá: <b>{{ object.observaciones_para_el_que_mide }}</b></p>

{% endblock %}
