{% extends "base_admin.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <h2>Nuevo Medida para Especialidad</h2>
    <a role="button" class="btn btn-warning btn-sm active" href="{% url 'especialidades.medidas-anexas-en-especialidades' %}">Volver a la lista</a>
    <form method="post" novalidate>
    {% csrf_token %}
        {{ form|crispy}}
        <button type="submit" class="btn btn-success">Guardar</button>
    </form>
    <div class="line"></div>

{% endblock %}
{% block js_footer %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    {{ form.media }}
{% endblock js_footer %}