{% extends "base_admin.html" %}

{% block content %}

<table class="table">
    <thead>
    <tr>
        <th scope="col">Objeto</th>
        <th scope="col">Ver</th>
        <th scope="col">Crear</th>
        <th scope="col">Editar</th>
        <th scope="col"> - </th>
        <th scope="col"> - </th>
        <th scope="col"> - </th>
    </tr>
    </thead>
    <tbody>
    {% for m in apps %}
<tr>
    <th scope="row">{{ m.app_vn }} - {{ m.name }}</th>
    <th scope="row"><input type='checkbox' />Ver</th>
    <th scope="row"><input type='checkbox' />Crear</th>
    <th scope="row"><input type='checkbox' />Editar</th>
    {% for p in m.permissions %}
        <th scope="row"><input type='checkbox' /> {{ p.1 }}</th>
    {% endfor %}
</tr>
        {% endfor %}
    </tbody>
</table>

{% include 'admin_paginate.html' %}

{% endblock %}