{% extends "base_admin.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<a role="button" class="btn btn-warning btn-sm active" href="{% url 'usuarios.en-centro-de-salud' %}">Volver a la lista</a>
{% if perms.centros_de_salud.change_servicio %}
<a role="button" class="btn btn-warning btn-sm active" href="{% url 'usuarios.en-centro-de-salud.edit' pk=object.id %}">Editar</a>
{% endif %}
<p>Usuario: <b>{{ object.usuario }}</b></p>
<p>Centro de salud: <b>{{ object.centro_de_salud.nombre }}</b></p>
<p>Estado: <b>{{ object.get_estado_display }}</b></p>

{% endblock %}
