{% extends "base_admin.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/ldbtn.min.css' %}">
    <h2>Crear factura {{ object.id }}</h2>

    <a role="button" 
        class="btn btn-warning btn-sm active" 
        href="{% url 'recupero.facturas' %}">Volver a la lista</a>

    <form method="post" novalidate>

    <div class="col-12 col-md-12 " style="display: flex;" >
        <div class="col-6 col-md-6">
            {% csrf_token %}
            <div class="form-row">
                <div class="col-md-6  col-lg-6">
                    {{ form.fecha_atencion|as_crispy_field }}
                </div>
            </div>
            <div class="form-row">

                <div class="col-md-6 col-lg-6" style="display: flex;">
                    <div class="form-group">
                        <label class="col-form-label ">
                            paciente
                        </label>
                        <input name="dni" id="id_dni" class="form-control" placeholder="DNI">
                    </div>
                    {{ form.paciente|as_crispy_field }}
                     <a  id="add_paciente" class="button-add-popup" >
                        <button type="button" class="btn btn-success ">
                            <i class="fa fa-search" id="search"></i>
                            <i id="loading" style="display: none" class="fa fa-spinner fa-spin"></i>
                        </button>

                     </a>
                </div>
                <div class=" col-md-6  col-lg-6 " style="display: flex;">
                    {{ form.obra_social|as_crispy_field }}
                    <a href="{%  url 'ObraSocialPacienteCreate' paciente=None%}" id="add_obrasocial" class="button-add-popup" onclick="return showAddPopup(this);">
                        <button type="button" class="btn btn-success">+</button>
                    </a>
                </div>
            </div>
            <div class="form-row">
                <div class=" col-md-6 ">
                    {{ form.centro_de_salud|as_crispy_field }}
                </div>
                <div class=" col-md-6 ">
                    {{ form.especialidad|as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class=" col-md-4 ">
                    {{ form.profesional|as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class=" col-md-6 ">
                    {{ form.codigo_cie_principal|as_crispy_field }}
                </div>
                <div class=" col-md-6 ">
                    {{ form.codigos_cie_secundarios|as_crispy_field }}
                </div>
            </div>
        </div>
        <div class="col-6 col-md-6" style=" width: 50%;
  height: 600px;
  overflow: scroll;padding-left: 15px">

         {% with prestaciones.prefix|slugify as p %}
           <H4>Prestaciones</H4>
           <div class="card-body">
                {% for form in prestaciones %}
                    <div class="{{ p }}-form">
                        <div class="form-row">
                            <div class=" col-md-8 ">
                                {{ form.tipo|as_crispy_field }}
                            </div>
                            <div class=" col-md-4 ">
                                {{ form.cantidad|as_crispy_field }}
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-12 ">
                                {{ form.observaciones|as_crispy_field }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {{ prestaciones.management_form }}
            </div>
         {% endwith %}
        </div>
    </div>
      <button type="submit" class="btn btn-success">Guardar Factura</button>
    </form>
{% endblock %}
{% block js_footer %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/jquery.formset.js' %}" type="text/javascript"> </script>
    {{ form.media }}
    <script type="text/javascript">
        $( document ).ready(function() {
           {% with prestaciones.prefix|slugify as p %}
              $('.{{ p }}-form').formset({
                      prefix: '{{ prestaciones.prefix }}',
                      addText: 'Agregar otro',
                      deleteText: 'Eliminar',
                      deleteCssClass: 'btn btn-sm btn-danger',
                      addCssClass: 'btn btn-sm btn-success',
                      added: function($row) {
                            $('#id_prestacionesFactura-'+$row.index()+'-tipo').select2();
                      }
                  });
           {% endwith %}
            var max_prestacion_factura = $('#id_prestacionesFactura-TOTAL_FORMS').val();
            for (var x=0; x<max_prestacion_factura; x++) {
                $('#id_prestacionesFactura-'+x+'-tipo').select2();
            }
        })
    </script>
    <script type="text/javascript">
        function showEditPopup(url) {
            var win = window.open(url, "Edit",
                'height=500,width=800,resizable=yes,scrollbars=yes');
            return false;
        }
        function showAddPopup(triggeringLink) {
            var name = triggeringLink.id.replace(/^add_/, '');
            href = triggeringLink.href;
            var win = window.open(href, name, 'height=500,width=800,resizable=yes,scrollbars=yes');
            win.focus();
            return false;
        }
        function closePopup(win, newID, newRepr, id) {
            $(id).append('<option value=' + newID + ' selected >' + newRepr + '</option>')
            win.close();
            $("#add_obrasocial").attr("href", "{%  url 'ObraSocialPacienteCreate' paciente=None %}".replace('None',$('#id_paciente').val()));
        }
        function closePopupCleanField(win, pk, doc) {
            $("#id_paciente").val(pk);
            $("#id_dni").val(doc);
            win.close();
            $("#add_obrasocial").attr("href", "{%  url 'ObraSocialPacienteCreate' paciente=None %}".replace('None',pk));
            $("#id_obra_social").empty();
        }
        function showAddPopupPaciente() {
            var href = "{%  url 'PacienteCreate' %}";
            var win = window.open(href, 'paciente', 'height=500,width=800,resizable=yes,scrollbars=yes');
            win.focus();
            return false;
        }
         $('#add_paciente').click(function () {
            if ($("#id_dni").val().length>=7){
                var url = '{% url 'BuscarPaciente' dni=None %}'.replace('None',  $("#id_dni").val() );
                $.ajax({
                    type: "GET",
                    url: url,
                    dataType: 'json',
                    beforeSend: function () {
                        $("#loading").show();
                        $("#search").hide();
                    },
                    success: function (data) {
                        if (data.encontrado){
                            $("#id_paciente").val(data.id);
                        }else{
                            showAddPopupPaciente();
                        }

                    },
                    complete: function () {
                        $('#search').show();
                        $('#loading').hide();
                    },
                });
            }
        });

    </script>
    <script type="text/javascript">

        //document.querySelector('select[name="paciente"]').onchange=function() {
        //    $("#add_obrasocial").attr("href", "{%  url 'ObraSocialPacienteCreate' paciente=None %}".replace('None',$('#id_paciente').val()));
        //    $("#id_obra_social").empty();
        //};


    </script>


{% endblock js_footer %}

