{% extends "base_admin.html" %}

{% block content %}
<h2>Facturación de recupero pendiente de cobro</h2>

{% include 'admin_search_bar.html' %}
{% include 'admin_paginate.html' %}

<table class="table">
    <thead>
    <tr>
        <th scope="col">Factura</th>
        <th scope="col">Fecha</th>
        <th scope="col">Obra social</th>
        <th scope="col">Centro de salud</th>
        <th scope="col">Profesional</th>
        <th scope="col">Especialidad</th>
        <th scope="col">CIE10 principal</th>
    </tr>
    </thead>
    <tbody>
    {% for cs in object_list %}
<tr>
    <th scope="row">{{ cs.id }}</th>
    <th scope="row">{{ cs.fecha }}</th>
    <td scope="row">{{ cs.obra_social }}</td>
    <td scope="row">{{ cs.centro_de_salud }}</td>
    <td scope="row">{{ cs.profesional }}</td>
    <td scope="row">{{ cs.especialidad }}</td>
    <td scope="row">{{ cs.codigo_cie_principal }}</td>
</tr>
        {% empty %}
        <td>Sin datos</td><td></td><td></td>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

