{% extends "base_admin.html" %}

{% block content %}
<h2>Tipos de prestación médica a recuperar</h2>

{% include 'admin_search_bar.html' %}
{% include 'admin_paginate.html' %}

<table class="table">
    <thead>
    <tr>
        <th scope="col">Nombre</th>
    </tr>
    </thead>
    <tbody>
    {% for cs in object_list %}
<tr>
    <th scope="row">{{ cs.nombre }}</th>
</tr>
        {% empty %}
        <td>Sin datos</td><td></td><td></td>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

