.modal-open-btn {
    margin-left: 20px;
}

.modal p {
    margin-bottom: 0px;
    margin-top: 5px;
}

#modalForm .modal-footer, .action-buttons-container {
    justify-content: space-between;
}

.action-buttons-container {
    padding: 10px 15px;
}

.select2-selection.select2-selection--single.form-control {
    height: auto;
    min-height: 41px;
}
