
{% if user__es_administrativo or user__es_profesional or user__es_super %}
{# centros de salud autorizados para este usuario #}
Centro de salud activo
<select class="custom-select custom-select-sm" 
        id="usuario_elegir_centro"
        data-elegir-centro-url="{% url 'usuarios.elegir-centro' %}">
    {% for centro in user__centros_de_salud_autorizados %}
    <option 
        value="{{centro.id}}"
        {% if user__centro_de_salud_elegido.centro_de_salud.id == centro.id %}selected{% endif %}
        >{{ centro.nombre }}
    </option>
    {% endfor %}
</select>
{% endif %}


<ul class="list-unstyled components">
    <!--titulo agrupador sin link <p>Profesionales</p>-->
    {% if perms.profesionales.view_profesional or perms.centros_de_salud.view_profesionalesenservicio %}
    <li class="active">
        <a href="#menu_profesionales" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Profesionales</a>
        <ul class="collapse list-unstyled" id="menu_profesionales">
            {% if perms.profesionales.view_profesional %}
            <li>
                <a href="{% url 'profesionales.lista' %}">Lista</a>
            </li>
            {% endif %}

            {% if perms.centros_de_salud.view_profesionalesenservicio %}
            <li>
                <a href="{% url 'centros_de_salud.profesionales-en-servicio' %}">Profesionales en servicios</a>
            </li>
            {% endif %}
        
        </ul>
    </li>
    {% endif %}
    
    {% if perms.profesionales.can_view_tablero or perms.obras_sociales.can_view_tablero or perms.centros_de_salud.can_view_tablero %}
    <li>
        <a href="#menu_tableros" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Tableros de gestion</a>
        <ul class="collapse list-unstyled" id="menu_tableros">
            {% if perms.profesionales.can_view_tablero %}
            <li>
                <a href="{% url 'profesionales.tablero.por_profesion' %}">Profesionales Por profesion</a>
            </li>
            <!-- <li>
                <a href="{# url 'profesionales.tablero.por_departamento' #}">Profesionales Por zona</a>
            </li> -->
            {% endif %}

            {% if perms.obras_sociales.can_view_tablero %}
            <li>
                <a href="{% url 'obras-sociales.tablero.por_provincia' %}">OSS por provincia</a>
            </li>
            <li>
                <a href="#TODO">OSS por especialidad</a>
            </li>
            {% endif %}

            {% if perms.centros_de_salud.can_view_tablero %}
            <li>
                <a href="#TODO">Centros de salud por area programática</a>
            </li>
            <li>
                <a href="#TODO">Centros de salud por especialidad</a>
            </li>
            {% endif %}

        </ul>
    </li>
    {% endif %}

    {% if perms.obras_sociales.view_obrasocial %}
    <!--titulo agrupador sin link <p>Atenciones</p> -->
    <li>
        <!-- menu link suelto <a href="#">Otro Menu principal</a> -->
        <a href="#menu_oss" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Obras sociales</a>
        <ul class="collapse list-unstyled" id="menu_oss">
            {% if perms.obras_sociales.view_obrasocial %}
            <li>
                <a href="{% url 'obras-sociales.lista' %}">Lista</a>
            </li>
            {% endif %}
            
        </ul>
    </li>
    {% endif %}

    {% if perms.centros_de_salud.view_centrodesalud or perms.centros_de_salud.view_servicio %}
    <!--titulo agrupador sin link <p>Atenciones</p> -->
    <li>
        <!-- menu link suelto <a href="#">Otro Menu principal</a> -->
        <a href="#menu_centros" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Centros de salud</a>
        <ul class="collapse list-unstyled" id="menu_centros">
            {% if perms.centros_de_salud.view_centrodesalud %}
            <li>
                <a href="{% url 'centros_de_salud.lista' %}">Lista</a>
            </li>
            {% endif %}

            {% if perms.centros_de_salud.view_servicio %}
            <li>
                <a href="{% url 'centros_de_salud.servicios' %}">Servicios</a>
            </li>
            {% endif %}
            
        </ul>
    </li>
    {% endif %}

    {% if perms.centros_de_salud.view_especialidad or perms.especialidades.view_medidaanexa or perms.especialidades.view_medidasanexasespecialidad %}
    <li>
        <!-- menu link suelto <a href="#">Otro Menu principal</a> -->
        <a href="#menu_especialidades" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Especialidades</a>
        <ul class="collapse list-unstyled" id="menu_especialidades">
            
            {% if perms.centros_de_salud.view_especialidad %}
            <li>
                <a href="{% url 'centros_de_salud.especialidades' %}">Especialidades</a>
            </li>
            {% endif %}
            
            {% if perms.especialidades.view_medidaanexa %}
            <li>
                <a href="{% url 'especialidades.medidas_anexas' %}">Medidas Anexas</a>
            </li>
            {% endif %}

            {% if perms.especialidades.view_medidasanexasespecialidad %}
            <li>
                <a href="{% url 'especialidades.medidas-anexas-en-especialidades' %}">Medidas en Especialidad</a>
            </li>
            {% endif %}

        </ul>
    </li>
    {% endif %}

    {% if perms.calendario.add_turno or perms.calendario.can_schedule_turno or perms.pacientes.add_consulta or perms.pacientes.view_consulta or perms.calendario.can_view_misturnos %}
    <li>
        <!-- menu link suelto <a href="#">Otro Menu principal</a> -->
        <a href="#menu_turnos" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Turnos</a>
        <ul class="collapse list-unstyled" id="menu_turnos">
        {% if perms.calendario.add_turno %}
        <li>
            <a href="{% url 'calendario.index' %}">Definir turnos</a>
        </li>
        {% endif %}

        {% if perms.calendario.can_schedule_turno %}
        <li>
            <a href="{% url 'calendario.agendar' %}">Agendar un turno</a>
        </li>
        {% endif %}
        
        {% if perms.calendario.can_view_misturnos %}
        <li>
            <a href="{% url 'calendario.mis_turnos' %}">Mis turnos</a>
        </li>
        {% endif %}

        {% if perms.calendario.can_gestionar_turnos %}
        <li>
            <a href="{% url 'calendario.gestion_turnos' %}">Gestion de turnos</a>
        </li>
        {% endif %}

        {% if perms.pacientes.view_consulta %}
        <li>
            <a href="{% url 'profesionales.home' %}">Turnos profesional</a>
        </li>
        {% endif %}

        
        </ul>
    </li>
    {% endif %}

    {% if perms.auth.change_user or perms.usuarios.view_usuarioencentrodesalud %}
    <li>
        <!-- menu link suelto <a href="#">Otro Menu principal</a> -->
        <a href="#menu_usuarios" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Usuarios</a>
        <ul class="collapse list-unstyled" id="menu_usuarios">

        {% if perms.auth.change_user %}
        <li>
            <a href="{% url 'usuarios.permisos' %}">Permisos de usuarios</a>
        </li>
        {% endif %}

        {% if perms.usuarios.view_usuarioencentrodesalud %}
        <li>
            <a href="{% url 'usuarios.en-centro-de-salud' %}">Autorizados en Centros de Salud</a>
        </li>
        {% endif %}
        
        </ul>
    </li>
    {% endif %}

    {% if perms.recupero.view_factura or perms.recupero.view_tipodocumentoanexo or perms.recupero.view_tipoprestacion %}
    <li>
        <a href="#menu_recupero" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Recupero</a>
        <ul class="collapse list-unstyled" id="menu_recupero">
        {% if perms.recupero.view_factura %}
        <li>
            <a href="{% url 'recupero.factura.lista-pendientes-envio' %}">Facturación pendiente de envío</a>
        </li>
            
        <li>
            <a href="{% url 'recupero.factura.lista-pendientes-cobro' %}">Facturación pendiente de cobro</a>
        </li>
        {% endif %}
        
        {% if perms.recupero.view_tipodocumentoanexo %}
        <li>
            <a href="{% url 'recupero.tipos-doc-anexo' %}">Tipos de documentos anexos</a>
        </li>
        {% endif %}

        {% if perms.recupero.view_tipoprestacion %}
        <li>
            <a href="{% url 'recupero.tipos-prestacion' %}">Tipos de prestación</a>
        </li>
        {% endif %}
        </ul>
    </li>
    {% endif %}
</ul>